html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }
  .header::before {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(120,21,50)),
        to(rgba(4,50,179))
      );
    filter: blur(5px) contrast(80%);
  }
  .header-info {
    position: absolute;
    font-family: Oxygen, sans-serif;
    font-size: 35px;
    text-shadow: 10px 5px 25px rgba(15, 15, 15, 0.5);
    color: #fff;
  }
  .btn {
    border: 2px solid #512A47;
    width: 10em;
    height: 2.4em;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.3);
    color: #fff;
    background-color: rgb(160,53,88);
    border-radius: 4px;
    transition-property: border, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
  .btn:hover {
    border-width: 4px;
    background-color: #512A47;
  }
  .section {
    width: 100%;
    display: flex;
    margin-top: 3em;
  }
  .section-header {
    margin: auto;
    font-size: 27px;
    padding: 10px 5px;
    border-bottom: 3px solid rgba(4,50,179);
  }
  .about-section {
    flex-direction: column;
    width: 100%;
    text-align: left;
    font-family: Oxygen, sans-serif;
    color: #fff;
    float: left;
    width: 90%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 7px;
    background-color: rgb(230,103,158);
    line-height:2;
  }
  .about-item-header {
    margin: auto;
    border-bottom: 1px solid rgb(157, 176, 228);
  }
  .skill-container {
    width: 50%;
    height: 4px;
    background-color: #ddd;
  }
  .skills {
    text-align: right;
    height: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }
  .Stakeholder {width: 95%; background-color: #04AA6D;}
.Reporting {width: 80%; background-color: #2196F3;}
.Hardware {width: 79%; background-color: #f44336;}
.Network {width: 64%; background-color: #808080;}
.Project-section {
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  .Projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 4px;
  }
  .Projects-logo > img {
    width: 100%;
    height: 100%;
  }
  .Projects-logo {
    width: 13em;
    height: 12em;
  }
  .Projects-name {
    font-family: Oxygen, sans-serif;
    font-size: 22px;
    margin-top: 1.7em;
  }